node_modules
.next
out
.env*
!.env.example
*.tsbuildinfo
next-env.d.ts
/.claude/
/.cursor/
/.idx/
/.idea/
/.kilocode/
/.kombai/
/.superdesign/
/.windsurf/
/.vscode/*
!/.vscode/extensions.json
.vscode
.husky
*.log
*.tmp
*.temp
*.bak
*.swp
*~
/image.png
/null
.DS_Store
Thumbs.db
Desktop.ini
.github

.vercel
